**/*.pyc
*.DS_Store
*.und
*.vscode
*__pycache__
.coverage
.idea/
.mypy_cache
.pytest_cache
.tox/.tmp/
.tox/dist/
.tox/log/
.venv
/.tox/
/venv/
build
cov_html/
cov_html/*
dist
docs/
htmlcov/
mkdocs.yml
overrides/
pyvesync.und
requirements-docs.txt
site/
src/pyvesync.egg-info/*
src/tests/junit/
src/sandbox.py
test.py
test/
test/*
tools/
tools/*
