*.DS_Store
build/*
.mypy_cache
build
dist/*
src/pyvesync.egg-info/*
*.vscode
**/*.pyc
.coverage
htmlcov/
.pytest_cache
*__pycache__
cov_html/*
cov_html/
test/*
test/
/venv/
.idea/
src/tests/test1.py
/src/tests/junit/
/.tox/
.tox/.tmp/
.tox/dist/
.tox/log/
tools/*
tools/
test.py
*.und
tools/__init__.py
tools/vesyncdevice.py
pyvesync.und
.venv

models.json
site/
overrides/
*.log
testing_scripts/api_test_editor.py
testing_scripts/yamltest.yaml
testing_scripts/yamltest copy.yaml
creds.json
docstest/*