*.DS_Store
build/*
.mypy_cache
build
dist/*
src/pyvesync.egg-info/*
*.vscode
**/*.pyc
.coverage
htmlcov/
.pytest_cache
*__pycache__
cov_html/*
cov_html/
test/*
test/
/venv/
.idea/
src/tests/test1.py
/src/tests/junit/
/.tox/
.tox/.tmp/
.tox/dist/
.tox/log/
tools/*
tools/
test.py

tools/__init__.py
tools/vesyncdevice.py
pyvesync.und
